<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Détails du Catway</title>
</head>
<body>
    <h1>Détails du Catway #<%= catway.catwayNumber %></h1>
    <p><strong>Type :</strong> <%= catway.type %></p>
    <p><strong>État :</strong> <%= catway.catwayState %></p>
    <a href="/catways">Retour aux catways</a>
</body>
</html>
